h1,
h2,
.col,
.place,
.respository {
  font-family: "Cutive Mono", monospace;
  text-align: center;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
div {
  text-align: right;
}
.place {
  border-radius: 20px;
  margin: 0;
  width: 150px;
  border-color: grey;
}
